/* Estilo global */
*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

}

body{
    background-color: #000000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn_contatos button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
}

.btn_contatos button:hover{
    box-shadow: 0px 0px 8px #ffffff;
    display: inline-block;
    transition: .2s;
}

h2.titulo{
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    font-weight: 500;
}

h2.titulo span{
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    font-weight: 300;
}

/* Estilo do cabeçalho */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 128px;
    height: 50%;

}

header a{
    color: #979696;
    text-decoration: none;
    font-weight: 300;

}

header a:hover{
    color: #ffffff;
    transform: scale(1.07);
    display: inline-block;
    transition: .3s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 70px;
}

header.btn_contatos button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
}

header.btn_contatos button:hover{
    box-shadow: 0px 0px 8px #ffffff;
    display: inline-block;
    transform: scale(1.07);
    transition: .3s;
}


/* Estilo da seção de apresentação */

section.apresentacao{
    padding: 40px 4%;
}

.apresentacao .foto-topo-site img{
    width: 300px;
    height: auto;
}

.apresentacao .texto-topo-site {
    max-width: 60%; 
}

section.apresentacao .flex{
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.apresentacao h1{
    color: #ffffff;
    font-size: 42px;
    font-weight: 500;
    line-height: 40px;
}

.apresentacao .texto-topo-site p{
    color: #ffffff;
    font-size: 24px;
    margin: 10px 0px;
}

.apresentacao .btn-saiba-mais button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: #000000;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
}

/* Estilo da seção de especialidades */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    padding: 40px;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-top: 45px;
    border-radius: 20px;
    transition: 0.5s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 8px #8f8d8d;

}

.especialidades .especialidades-box i{
    font-size: 50px;
    color: #ffffff;
}

.especialidades .especialidades-box h3{
    font-size: 30px;
    margin: 20px 0px;
}